@page "/customergrid"
@page "/customergrid/{code}"

@namespace Count4U.Admin.Client.Page
@inherits CustomerProfileGridBase
@attribute [Authorize(Policy = UserPolicy.IsProfile)]
<style type="text/css">
    .fa_custom {
        color: #0b960f
    }

    .fa_custom_white {
        color: #ffffff
    }

    .select_border_color {
        /*    border: 1px solid #0b960f;*/
        border-radius: .1rem;
    }
</style>


@if (_filterCustomerModel == null)
{
    <p><em>Loading...</em></p>
}
else if (LocalizationResources == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (this._filterResult != null)
    {
        @if (this._filterResult.Successful == SuccessfulEnum.NotSuccessful)
        {
            <div class="d-flex flex-row-reverse">
                <span class="badge badge-danger float-right">@this._filterResult.Error</span>
            </div>
            <div></div>
        }
    }

    <FilterForGrid FilterModel="@_filterCustomerModel" IsSearching="@IsSearching"
                   WaitingTitle="Waiting ..." FilterTitle="Filter"
                   OnClearClick="OnClearAsync" OnSearchClick="OnSearchAsync"></FilterForGrid>
}

@if (_profileFiles == null)
{
    <p><em>Loading...</em></p>
}

else if (LocalizationResources == null)
{
    <p><em>Loading...</em></p>
}
else
{


    @*OnAddObjectClick="AddCustomer"*@
    <PagedDataList Data=@_profileFiles Prev="Prev" Next="Next" ItemsPerPage=@OnPageNumber
                   OnChangePageClick="OnChangePageNumber">
        <ListTemplate Context="listOfCustomer">

            @*<h6 class="bg-success p-1 text-white">Customer with Branches</h6>*@

            <div class="bg-success d-flex justify-content-between mb-2">
                <div class="bg-success p-1 text-white"> &nbsp;Customer with Branches &nbsp;</div>
                <div class="bg-success" style="padding-left: 30px;padding-right: 30px;width:132px">
                    <button class="btn btn-success text-white select_border_color btn-sm" style="width:70px" @onclick="@(()=>AddCustomer())">
                        <i class="fa fa-plus"></i>&nbsp; &nbsp;<span>Add</span>
                    </button>
                </div>
            </div>

            <table class="table table-bordered table-sm">
                @*<thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Users</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>*@
                <tbody>
                    @listOfCustomer
                </tbody>
            </table>
        </ListTemplate>
        <ItemTemplate Context="customer">
            <tr @key=@customer>
                @*<td>@role.RoleID</td>*@
                <td style="padding-left: 30px;padding-right: 30px;width:132px">@customer.CustomerCode</td>
                <td style="padding-left: 30px;padding-right: 30px;width:200px">@customer.CustomerName</td>
                <td>@customer.ToString()</td>
                @*<td>
            <ul class="nav flex-column">
                @foreach (var user in role.Members)
                    {
                    <li @key=@user.UserID>
                        @user.Email
                    </li>
                    }
            </ul>
        </td>*@
                @*<td style="align-content:center;padding-left: 30px;padding-right: 30px">*@
                <td style="padding-left: 30px;padding-right: 30px;width:152px">
                    <button class="btn btn-outline-success  btn-sm" style="width:90px" @onclick="@(()=>CustomerEdit(customer.CustomerCode, customer.Email))">
                        <span>Edit</span>
                    </button>
                </td>
                <td style="padding-left: 30px;padding-right: 30px;width:152px">
                    <button class="btn btn-outline-success  btn-sm" style="width:90px" @onclick="@(()=>NavigateToBranches(customer.CustomerCode))">
                        <span>Branches</span>
                    </button>
                </td>
            </tr>
        </ItemTemplate>
    </PagedDataList>

    @*<div class="form-row align-items-center text-muted px-4">
            <div class="col"></div>
            <div class="col-auto">
                <span> Per Page</span>
            </div>
            <div class="col-auto">
                <select class="form-control form-control-sm" @onchange="OnChangePageNumber">
                    <option value="5" selected="@(OnPageNumber== 5)">5</option>
                    <option value="10" selected="@(OnPageNumber== 10)">10</option>
                    <option value="15" selected="@(OnPageNumber == 15)">15</option>
                    <option value="25" selected="@(OnPageNumber==25)">25</option>
                    <option value="50" selected="@(OnPageNumber ==50)">50</option>
                </select>
            </div>
        </div>*@
}

