@page "/usergrid"
@page "/usergrid/{customerCode}"
@namespace Count4U.Admin.Client.Page
@inherits UserGridBase
@attribute [Authorize(Policy = UserPolicy.IsManager)]


<style type="text/css">
    .fa_custom {
        color: #0b960f
    }

    .select_border_color {
        /*    border: 1px solid #0b960f;*/
        border-radius: .1rem;
    }
</style>


@if (_filterUserModel == null)
{
    <p><em>Loading...</em></p>
}
@*else if (LocalizationResources == null)
    {
        <p><em>Loading...</em></p>
    }*@
else
{
    @if (this._filterResult != null)
    {
        @if (this._filterResult.Successful == SuccessfulEnum.NotSuccessful)
        {
            <div class="d-flex flex-row-reverse">
                <span class="badge badge-danger float-right">@this._filterResult.Error</span>
            </div>
            <div></div>
        }
    }

    <FilterForGrid FilterModel="@_filterUserModel" IsSearching="@IsSearching"
                   WaitingTitle="Waiting ..." FilterTitle="Filter"
                   OnClearClick="OnClearAsync" OnSearchClick="OnSearchAsync"></FilterForGrid>
}


@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else if (LocalizationResources == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <PagedDataList Data=@_users Prev="Prev" Next="Next" ItemsPerPage="10"
                   OnChangePageClick="OnChangePageNumber">
        <ListTemplate Context="listOfUser">
            <div class="bg-success d-flex justify-content-between mb-2">
                <div class="bg-success p-1 text-white"> &nbsp; Users  &nbsp;</div>
                <div class="bg-success" style="padding-left: 30px;padding-right: 30px;width:132px">
                    <button class="btn btn-success text-white select_border_color btn-sm" style="width:70px" @onclick="@(()=>UserAdd())">
                        <i class="fa fa-plus"></i>&nbsp; &nbsp;<span>Add</span>
                    </button>
                </div>
            </div>
            @*<h6 class="bg-success p-1 text-white">Users</h6>*@
            <table class="table table-bordered table-sm">
                @*<thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Users</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>*@
                <tbody>
                    @listOfUser
                </tbody>
            </table>
        </ListTemplate>
        <ItemTemplate Context="user">
            <tr @key=@user>
                @*<td>@role.RoleID</td>*@
                @*<td>@user.UserID</td>*@
                <td style="padding-left: 30px;padding-right: 30px;width:200px">@user.Email</td>
                <td style="padding-left: 30px;padding-right: 30px;">@user.CustomerCode</td>
                @*<td>
                        <ul class="nav flex-column">
                            @foreach (var user in role.Members)
                                {
                                <li @key=@user.UserID>
                                    @user.Email
                                </li>
                                }
                        </ul>
                    </td>*@
                @*<td style="align-content:center;padding-left: 30px;padding-right: 30px">*@
                @*<td style="padding-left: 30px;padding-right: 30px;width:132px">
                        <button class="btn btn-outline-danger  btn-sm" style="width:70px" @onclick="@(()=>UserChangePassword(user.UserID))">
                            <span>Change Password</span>
                        </button>
                    </td>*@
                <td style="padding-left: 30px;padding-right: 30px;width:152px">
                    <button class="btn btn-outline-success  btn-sm" style="width:90px" @onclick="@(()=>UserEdit(user.Email))">
                        <span>Edit</span>
                    </button>
                </td>

                <td style="padding-left: 30px;padding-right: 30px;width:132px">
                    <button class="btn btn-outline-danger  btn-sm" style="width:70px" @onclick="@(()=>UserDelete(user.Email))">
                        <span>Delete</span>
                    </button>
                </td>
                <td style="padding-left: 30px;padding-right: 30px;width:200px">
                    <button class="btn btn-outline-danger  btn-sm" style="width:140px" @onclick="@(()=>UserChangePassword(user.Email))">
                        <span>Change password</span>
                    </button>
                </td>
            </tr>
        </ItemTemplate>
    </PagedDataList>
}


