@using Monitor.Service.Shared;
<style type="text/css">
    .fa_custom {
        color: #0b960f;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15px;
    }

    .fa_custom_background {
        background-color: #bfd0c0
    }


    .fa_custom_white {
        color: #ffffff
    }

    .custom_table {
        width: 100%;
        table-layout: fixed;
        overflow-wrap: break-word;
    }

    .select_border_color {
        /*          border: 1px solid #0b960f;*/
        border-radius: .1rem;
    }

    .upbutton {
        background: transparent;
        border: none;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15px;
        color: #727375;
        /*        margin-bottom: 6px;
        margin-top: 6px;*/
    }
</style>

<div class="form-group">
    <div class="row">
        <div class="col">
            <div class="medium-label py-2">Name</div>
            <div class="py-2" style="width:300px">
                <input class="form-control form-control-sm" disabled="@_isSubmit" @bind="_fieldMappingItem.name" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="medium-label py-2">Property (key for field)</div>
            <div class="py-2" style="width: 300px">
                <select class="form-control form-control-sm select_border_color" disabled="@_isSubmit" @bind="@_fieldMappingItem.inventoryPropertyId">
                    @foreach (var url in _fieldList4)
                    {
                        <option value=@url.Key>@url.Value</option>
                    }
                </select>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col pt-4 ml-0">
            <div class="medium-label  pb-3">Reverse Value</div>

            <label class="switch">
                <InputCheckbox class="checkbox" disabled="@_isSubmit" @bind-Value="_fieldMappingItem.reverseValue" id="assetMode" />
                <span class="slider round"></span>
            </label>

            @if (_fieldMappingItem.reverseValue)
            {
                <span class="p-2">Enabled</span>
            }
            else
            {
                <span class="p-2">Disabled</span>
            }
        </div>
    </div>
</div>

@*reverseValue="true"
dateFormat="dd-MM-yyyy"*@

@code
{
    [Parameter]
    public bool _isSubmit { get; set; }

    [Parameter]
    public Count4U.Service.Format.Profile _profileDomainObject { get; set; }

    [Parameter]
    public Count4U.Service.Format.FieldMapping _fieldMappingItem { get; set; }

    [Parameter]
    public List<ValueItem> _fieldList4 { get; set; }


}

