@page "/roleedit/{roleID}"
@namespace Count4U.Admin.Client.Page
@inherits RoleEditBase
@attribute [Authorize(Policy = UserPolicy.IsAdmin)]

@*<div asp-validation-summary="All" class="text-danger"></div>*@

<EditForm Model="@_role" OnValidSubmit="@UpdateRoleAsync">
    <DataAnnotationsValidator />
    <h6 class="bg-success p-1 text-white">Add To @_role.RoleName</h6>
    <table class="table table-bordered table-sm">

        @if (_role.NonMembers == null)
        {

        }
        else if (_role.NonMembers.Count() == 0)
        {
            <tr><td colspan="2">All Users Are Members</td></tr>
        }
        else
        {
            @foreach (UserViewModel user in _role.NonMembers)
            {
                if (@user != null)
                {
                    <tr>
                        <div class="row">
                            <div class="col-6">@user.Email</div>
                            <div class="col-3"></div>
                            <div class="col-3"><input type="checkbox" @bind-value="@user.ToAdd"></div>
                        </div>
                        @*<td>@user.Email</td>
                            <td>
                                <input type="checkbox" @bind-value="@user.ToAdd">
                            </td>*@
                    </tr>
                }
            }
        }
    </table>

    <h6 class="bg-success p-1 text-white">Remove From @_role.RoleName</h6>
    <table class="table table-bordered table-sm">
        @if (_role.Members == null)
        {

        }
        else if (_role.Members.Count() == 0)
        {
            <tr><td colspan="2">No Users Are Members</td></tr>
        }
        else
        {
            @foreach (UserViewModel user in _role.Members)
            {
                if (@user != null)
                {
                    <tr>
                        <div class="row">
                            <div class="col-6">@user.Email</div>
                            <div class="col-3"></div>
                            <div class="col-3"><input type="checkbox" @bind-value="@user.ToDelete"></div>
                        </div>
                        @*<td>@user.Email</td>
                            <td>
                                <input type="checkbox" @bind-value="@user.ToDelete">
                            </td>*@
                    </tr>

                }
            }
        }
    </table>
    <div class="form-group">
        <button type="submit" class="btn btn btn-success">Save</button>
        <button class="btn btn-outline-success" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

