@page "/rolegrid"
@namespace Count4U.Admin.Client.Page
@inherits RoleGridBase
@attribute [Authorize(Policy = UserPolicy.IsAdmin)]


<AuthorizeView Policy="@UserPolicy.IsAdmin">

    @if (_roles == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <PagedDataList Data=@_roles Prev="Prev" Next="Next" ItemsPerPage="10">
            <ListTemplate Context="listOfRole">
                <h6 class="bg-success p-1 text-white">Roles with Users</h6>
                <table class="table table-bordered table-sm">
                    @*<thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Users</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>*@
                    <tbody>
                        @listOfRole
                    </tbody>
                </table>
            </ListTemplate>
            <ItemTemplate Context="role">
                <tr @key=@role>
                    @*<td>@role.RoleID</td>*@
                    <td>@role.RoleName</td>
                    <td>@role.ToString()</td>
                    @*<td>
                            <ul class="nav flex-column">
                                @foreach (var user in role.Members)
                                    {
                                    <li @key=@user.UserID>
                                        @user.Email
                                    </li>
                                    }
                            </ul>
                        </td>*@
                    @*<td style="align-content:center;padding-left: 30px;padding-right: 30px">*@
                    <td style="padding-left: 30px;padding-right: 30px;width:132px">
                        <button class="btn btn-outline-success  btn-sm" style="width:70px" @onclick="@(()=>RoleEdit(role.RoleID))">
                            <span>Edit</span>
                        </button>
                    </td>
                </tr>
            </ItemTemplate>
        </PagedDataList>
    }

</AuthorizeView>
